---
import { Picture } from "astro:assets";
import someImage from "../images/600x400.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro (with a Picture)</h1>
    <Picture
      src={someImage}
      alt="Placeholder image"
      formats={["avif", "webp"]}
      width={600}
      height={400}
      priority
    />
  </body>
</html>
