---
import { Image } from "astro:assets";
import someImage from "../images/600x400.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Page Two</title>
  </head>
  <body>
    <h1>Page Two (with an Image)</h1>
    <Image
      src={someImage}
      alt="Placeholder image"
      width={600}
      height={400}
      priority
    />
    <nav>
      <a href="/">Back to Home</a>
    </nav>
  </body>
</html>
